body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:895px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u552 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u553 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:8px;
  width:375px;
  height:667px;
}
#u554 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(27, 130, 210, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u558 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:8px;
  width:375px;
  height:64px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u559 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:375px;
  word-wrap:break-word;
}
#u560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:14px;
}
#u560 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:12px;
  width:364px;
  height:14px;
}
#u561 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u562 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:616px;
  width:375px;
  height:59px;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:615px;
  width:375px;
  height:1px;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:626px;
  width:26px;
  height:26px;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#868686;
  text-align:center;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:654px;
  width:59px;
  height:13px;
  font-size:10px;
  color:#868686;
  text-align:center;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
  background:inherit;
  background-color:rgba(41, 161, 247, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:626px;
  width:26px;
  height:26px;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#248DD8;
  text-align:center;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:654px;
  width:49px;
  height:12px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#248DD8;
  text-align:center;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:626px;
  width:26px;
  height:26px;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:654px;
  width:36px;
  height:13px;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:626px;
  width:26px;
  height:26px;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:654px;
  width:28px;
  height:13px;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:66px;
  background:inherit;
  background-color:rgba(99, 177, 235, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:331px;
  width:360px;
  height:66px;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:356px;
  word-wrap:break-word;
}
#u589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:66px;
  background:inherit;
  background-color:rgba(99, 177, 235, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:407px;
  width:360px;
  height:66px;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:356px;
  word-wrap:break-word;
}
#u591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:66px;
  background:inherit;
  background-color:rgba(99, 177, 235, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:483px;
  width:360px;
  height:66px;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:356px;
  word-wrap:break-word;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:8px;
  width:375px;
  height:667px;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(27, 130, 210, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:8px;
  width:375px;
  height:64px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:375px;
  word-wrap:break-word;
}
#u601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:14px;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:12px;
  width:364px;
  height:14px;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:40px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:175px;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:72px;
  width:375px;
  height:175px;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:257px;
  width:375px;
  height:35px;
  color:#666666;
  text-align:left;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:292px;
  width:375px;
  height:35px;
  color:#666666;
  text-align:left;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:327px;
  width:375px;
  height:35px;
  color:#666666;
  text-align:left;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:415px;
  width:92px;
  height:80px;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:88px;
  word-wrap:break-word;
}
#u615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:415px;
  width:92px;
  height:80px;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:88px;
  word-wrap:break-word;
}
#u617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:415px;
  width:92px;
  height:80px;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:88px;
  word-wrap:break-word;
}
#u619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:372px;
  width:375px;
  height:30px;
  text-align:left;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:371px;
  word-wrap:break-word;
}
#u621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:520px;
  width:92px;
  height:80px;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:88px;
  word-wrap:break-word;
}
#u623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:520px;
  width:92px;
  height:80px;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:88px;
  word-wrap:break-word;
}
#u625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:199px;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:72px;
  width:375px;
  height:199px;
}
#u626 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u627 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:283px;
  width:375px;
  height:30px;
  text-align:left;
}
#u628 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:371px;
  word-wrap:break-word;
}
